{% extends 'base.html' %}

{% block pagename %}
Login
{% endblock %}

{% block content %}
  <form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {{ form.as_p() }}
    <button type="submit">Login</button>
  </form>
{% endblock %}
