{% extends 'customer.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Orders list</li>
{% endblock %}

{% block title %}
List orders
{% endblock %}

{% block content %}
	{% if orders|length > 0 %}
	<div id="accordion">
			{% for order in orders %}
				<div class="card z-depth-0 bordered">
	        <div class="card-header" id="heading{{order.id}}">
	          <h5 class="mb-0">
	            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{order.id}}" aria-expanded="true" aria-controls="collapse{{order.id}}">
	              Order # {{order.id}}
	            </button>
	          </h5>
	        </div>
	        <div id="collapse{{order.id}}" class="collapse" aria-labelledby="heading{{order.id}}" data-parent="#accordion">
	          <div class="card-body"> 
	              <table class="table">
	                  <tr>
			                <td>Weight</td>
			                <td>{{order.weight}}</td>
			            </tr>
			            <tr>
			                <td>Amount of objects</td>
			                <td>{{order.number_of_objects}}</td>
			            </tr>
			            <tr>
			                <td>Creation time</td>
			                <td>{{order.creation_time}}</td>
			            </tr>
			            <tr>
			                <td>Source Address</td>
			                <td>{{order.source}}</td>
			            </tr>
			            <tr>
			                <td>Destination Address</td>
			                <td>{{order.destination}}</td>
			            </tr>
	              </table>
	          </div>
	        </div>
	      </div>
			{% endfor %}
	</div>
	{% else %}
	<h5>Looks like currently you do not have any orders... </h5>
	{% endif %}
{% endblock %}

{% block customjs %}

		

{% endblock %}