{% extends 'customer.html' %}
{% block js %}
<script src="{{ static('assets/extra-libs/here-maps/mapsjs-core.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static('assets/extra-libs/here-maps/mapsjs-service.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static('assets/extra-libs/here-maps/mapsjs-ui.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static('assets/extra-libs/here-maps/mapsjs-mapevents.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ static('js/map.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.11.0"></script>
{{ super() }}
{% endblock %}