{% extends 'customer_map.html' %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Create order</li>
{% endblock %}

{% block title %}
Create order
{% endblock %}

{% block content %}
{% if error is not none %}
<h3>{{error}}</h3>
{% endif %}
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <form method="post" novalidate>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <label>{{ form.source.label }}</label>
            {{ form.source }}
            {% for error in form.source.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            <label>{{ form.destination.label }}</label>
            {{ form.destination }}
            {% for error in form.destination.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            <div class="row">
                <div class="col-md-4">
                    <label style="padding-top: 10px;">{{ form.delivery_window_start.label }}</label>
                    {% for error in form.delivery_window_start.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                    {{ form.delivery_window_start }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label style="padding-top: 10px;">{{ form.delivery_window_end.label }}</label>
                    {% for error in form.delivery_window_end.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
                <div class="col-md-8">
                  {{ form.delivery_window_end }}
                </div>
            </div>
            {{ form.source_latitude }}
            {% for error in form.source_latitude.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.source_longitude }}
            {% for error in form.source_longitude.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.destination_latitude }}
            {% for error in form.destination_latitude.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            {{ form.destination_longitude }}
            {% for error in form.destination_longitude.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}

            <label>{{ form.weight.label }}</label>
            {{ form.weight }}
            {% for error in form.weight.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}

            <label>{{ form.number_of_objects.label }}</label>
            {{ form.number_of_objects }}
            {% for error in form.number_of_objects.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            <button type="submit" class="btn btn-success">Post</button>
        </form>
    </div>
    <div class="col-md-4">
        <div style="width: 640px; height: 480px;" id="mapContainer"></div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script>
$(document).ready(() => {
  function on_click(id, coord, action) {
        if (action === 'set_point') {
            if(id === 1){
                $('#id_source_latitude').val(coord['lat']);
                $('#id_source_longitude').val(coord['lng']);
            } else if(id === 2) {
                $('#id_destination_latitude').val(coord['lat']);
                $('#id_destination_longitude').val(coord['lng']);
            }
        }
    }

    function setup_hidden(coord, source_id) {
      console.log(coord);
      if (source_id === 'id_source') {
            $('#id_source_longitude').val(coord['lng']);
            $('#id_source_latitude').val(coord['lat']);
        } else {
           $('#id_destination_longitude').val(coord['lng']);
           $('#id_destination_latitude').val(coord['lat']);
        }
    }

    const inno = {
            lat: 55.749931,
            lng: 48.742371
        };

  let map = new OrderCreationMap([], inno, "mapContainer", true, action=on_click, async=setup_hidden)

      var placesAutocompleteSource = places({
        container: document.querySelector('#id_source')
      });

      var $id_source = document.querySelector('#id_source');
      placesAutocompleteSource.on('change', function(e) {
        $id_source.textContent = e.suggestion.value
        const input = $('#id_source');
        const id = $(input).attr('id');
        let address = $(input).val();
        map.geocode(address, id);
      });

      placesAutocompleteSource.on('clear', function() {
        $id_source.textContent = 'none';
      });

      var placesAutocompleteDestination = places({
        container: document.querySelector('#id_destination')
      });

      var $id_destination = document.querySelector('#id_destination')
      placesAutocompleteDestination.on('change', function(e) {
        $id_destination.textContent = e.suggestion.value
        const input = $('#id_destination');
        const id = $(input).attr('id');
        let address = $(input).val();
        map.geocode(address, id);
      });

      placesAutocompleteDestination.on('clear', function() {
        $id_destination.textContent = 'none';
      });
});
</script>
{% endblock %}