<!DOCTYPE html>
<!--[if IE 9]> <html lang="zxx" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="zxx" class="ie"> <![endif]-->
<!--[if !IE]><!-->
<html dir="ltr" lang="zxx">
	<!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <title>{%block title%}Customer menu{%endblock%}</title>
    <meta name="description" content="The Project a Bootstrap-based, Responsive HTML5 Template">
    <meta name="author" content="htmlcoder.me">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ static('images/favicon.ico') }}">

    <!-- Web Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{{ static('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{{ static('css/font-awesome.css') }}" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="{{ static('css/icons/fontello/css/fontello.css') }}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{{ static('css/animations.css') }}" rel="stylesheet">
    <link href="{{ static('plugins/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ static('plugins/owlcarousel2/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ static('plugins/owlcarousel2/assets/owl.theme.default.min.css') }}" rel="stylesheet">
    <link href="{{ static('plugins/hover/hover-min.css') }}" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="{{ static('css/customer-style.css') }}" rel="stylesheet" >
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="{{ static('css/typography-default.css') }}" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="{{ static('css/skins/gold.css') }}" rel="stylesheet">


    <!-- Custom css -->
    <link href="{{ static('css/customer-custom.css') }}" rel="stylesheet">


  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class=" ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>

    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
      <!-- header-container start -->
      <div class="header-container">
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top dark">
          <div class="container">
            <div class="row">
              <div class="col-3 col-sm-6 col-lg-9">
              </div>
              <div class="col-9 col-sm-6 col-lg-3">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                  <!-- header top dropdowns start -->
                  <!-- ================ -->
                  <div class="header-top-dropdown text-right">
                    {% if user and user.is_authenticated %}
                     <div class="btn-group dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <img src="{{ static('assets/images/4.jpg') }}" alt="user" class="rounded-circle" width="30">
                        </a> 
                        <h6>&nbsp;{{ user.username }}</h6>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                          <a class="dropdown-item" href="javascript:void(0)">
                              <i class="ti-user m-r-5 m-l-5"></i> My
                              Profile
                          </a>
                          <a class="dropdown-item" href="{{ url('user-logout') }}"> <!-- user-logout -->
                              <i class="fa fa-power-off m-r-5 m-l-5"></i>
                              Logout
                          </a>
                        </div>
                      </div>
                    {% else %}
                      <div class="btn-group">
                        <a href="{{ url('customer_register') }}" class="btn btn-default btn-sm"><i class="fa fa-user pr-2"></i> Sign Up</a>
                      </div>
                      <div class="btn-group">
                        <a href="{{ url('user-login') }}" class="btn btn-default btn-sm"><i class="fa fa-lock pr-2"></i> Login</a>
                      </div>
                    {% endif %}
                  </div>
                  <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->

        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "fixed-desktop": enables fixed navigation only for desktop devices e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "fixed-all": enables fixed navigation only for all devices desktop and mobile e.g. class="header fixed fixed-desktop clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ -->
        <header class="header fixed fixed-desktop clearfix">
          <div class="container">
            <div class="row">
              <div class="col-md-auto hidden-md-down pl-3">
                <!-- header-first start -->
                <!-- ================ -->
                <div class="header-first clearfix">

                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="{{ url('customer_main') }}">Fahrkopf delivery</a>
                  </div>

                  <!-- name-and-slogan -->
                  <div class="site-slogan">
                    We are like a Santa: bring boxes with surprises
                  </div>

                </div>
                <!-- header-first end -->

              </div>
              <div class="col-lg-8 col-xl-9">

                <!-- header-second start -->
                <!-- ================ -->
                <div class="header-second clearfix">

                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- ================ -->
                <!-- main-navigation end -->
                </div>
                <!-- header-second end -->

              </div>
            </div>
          </div>
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->
      <!-- breadcrumb start -->
      <!-- ================ -->
      <div class="breadcrumb-container">
        <div class="container">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa fa-home pr-2"></i><a class="link-dark" href="{{ url('customer_main') }}">Home</a></li>
            {% block breadcrumbs %}
            {% endblock %}
          </ol>
        </div>
      </div>
      <!-- breadcrumb end -->

      <!-- main-container start -->
      <!-- ================ -->
      <section class="main-container">

        <div class="container">
          {% block content %}
          <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-12">

              <!-- page-title start -->
              <!-- ================ -->
              <h1 class="page-title text-center">Customer page</h1>
              <p class="large text-center">As a customer you can choose one of the options below.</p>
              <div class="separator with-icon"><i class="fa fa-home bordered"></i></div>
              <!-- page-title end -->

              <div class="row">
                <div class="col-xl-6" align="center">
                  <div class="card" style="width: 18rem;" align="left">
                    <img class="card-img-top" src="{{ static('assets/images/parcel.png') }}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Create order</h5>
                      <p class="card-text">Create a new delivery order. <br>Specify location & time.</p>
                      <a href="{{ url('customer_create') }}" class="btn btn-primary">Create</a>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6" align="center">
                  <div class="card" style="width: 18rem;" align="left">
                    <div align="center">
                      <img class="card-img-top" src="{{ static('assets/images/track.png') }}" style="width: 85%; height: auto;" alt="Card image cap">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Orders list</h5>
                      <p class="card-text">Keep track of your parcels wherever they are.</p>
                      <a href="{{ url('customer_order_list') }}" class="btn btn-primary">Order list</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- main end -->

          </div>
          {% endblock %}
        </div>
      </section>
      <!-- main-container end -->


      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <!--<div class="row">-->
                <!--<div id="pull-chain" class="col-md-6 col-md-offset-4">-->
                  <!--<div class="dot"></div>-->
                  <!--<div class="chain"></div>-->
                  <!--<div class="dot"></div>-->
                  <!--<div class="chain"></div>-->
                  <!--<div class="dot"></div>-->
                  <!--<div class="chain"></div>-->
                  <!--<div class="dot"></div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2017 The glorious frontend developers</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->
    </div>
    <!-- page-wrapper end -->

    {% block js %}
    <script type="text/javascript" src="{{ static('jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/popper.js/dist/umd/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/tether.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/isotope/isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/waypoints/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/waypoints/sticky.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/jquery.countTo.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/jquery.parallax-1.1.3.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/jquery.validate.js') }}"></script>
    <script type="text/javascript" src="{{ static('plugins/owlcarousel2/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ static('js/template.js') }}"></script>
    {% endblock %}
    {% block customjs %}
    {% endblock %}
  </body>
</html>
