.dispatch-order {
	background: rgba(112, 112, 112, .2);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 25px;
	margin: 20px;
}

table.dataTable {
	border-collapse: collapse !important;
}