{% extends 'map.html' %}

{% block pagename %}
Create order
{% endblock %}
{% block customjs %}
<script>
	function on_click(id, coord, action) {
			if (action === 'set_point') {
				if(id === 1){
                    $('#id_source_latitude').val(coord['lat']);
                    $('#id_source_longitude').val(coord['lng']);
                } else if(id === 2) {
                    $('#id_destination_latitude').val(coord['lat']);
                    $('#id_destination_longitude').val(coord['lng']);
                }
			}
		}

    const inno = {
            lat: 55.749931,
            lng: 48.742371
        };

	let map = new OrderCreationMap([], inno, "mapContainer", true, action=on_click)

	$(document).keypress(function(e) {
            if(e.which == 13) {
                e.preventDefault();
                var input = e.target
                var id = $(input).attr('id')
                if (id === 'id_source') {
                    map.geocode($(input).val())
                } else {
                    map.geocode($(input).val())
                }
            }
        });
</script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.11.0"></script>
<script>
(function() {
  var placesAutocompleteSource = places({
    container: document.querySelector('#id_source')
  });

  var $id_source = document.querySelector('#id_source')
  placesAutocompleteSource.on('change', function(e) {
    $id_source.textContent = e.suggestion.value
  });

  placesAutocompleteSource.on('clear', function() {
    $id_source.textContent = 'none';
  });

  var placesAutocompleteDestination = places({
    container: document.querySelector('#id_destination')
  });

  var $id_destination = document.querySelector('#id_destination')
  placesAutocompleteDestination.on('change', function(e) {
    $id_destination.textContent = e.suggestion.value
  });

  placesAutocompleteDestination.on('clear', function() {
    $id_destination.textContent = 'none';
  });

})();
</script>
{% endblock %}

{% block content %}
	<div class="row">
        <form method="post" novalidate>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            {% for field in form %}
                {% if field.label != ''%}
                <label>{{ field.label }}</label>
                {% endif %}
                {{ field }}
                {% for error in field.errors %}
                  <span style="color: red">
                    <br>
                    {{ error }}
                  </span>
                {% endfor %}
                {% if field.label != ''%}
                <br>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-success">Post</button>
        </form>
        <div class="col-md-6">
            <div style="width: 640px; height: 480px;" id="mapContainer"></div>
        </div>
	</div>
{% endblock %}

{%block navigation%}
{%endblock%}