{% extends 'map.html' %}

{% block pagename %}
Create route
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ url('orders') }}">Orders</a></li>
<li class="breadcrumb-item"><a href="{{ url('order', args=[order.id]) }}">Order #{{order.id}}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}

{% block customjs %}
<script src=" {{ static('assets/extra-libs/here-maps/mapsjs-core.js') }}" type="text/javascript" charset="utf-8"></script>
<script src=" {{ static('assets/extra-libs/here-maps/mapsjs-service.js') }}" type="text/javascript" charset="utf-8"></script>
<script src=" {{ static('assets/extra-libs/here-maps/mapsjs-ui.js') }}" type="text/javascript" charset="utf-8"></script>
<script src=" {{ static('assets/extra-libs/here-maps/mapsjs-mapevents.js') }}" type="text/javascript" charset="utf-8"></script>
<script src=" {{ static('js/map.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/places.js@1.11.0"></script>
<script>
	$(document).ready(() => {
		let do_number = 0;
		let src = {
                lat: {{order.source_latitude}},
                lng: {{order.source_longitude}}
            };
		let dst = {
                lat: {{order.destination_latitude}}, 
                lng: {{order.destination_longitude}}
            };
		let map = new CreationMap([src, dst], src, "mapContainer", true, add_address);

		$("#do-adder").click((e) => {
			e.preventDefault();
			do_name = `Dispatch order #${do_number}`;
			do_remover = '<a href="#" class="badge badge-danger do-remover">Remove</a>';
			html = 
			'<div class="row dispatch-order">' +
			'	<div class="col-sm-2" style="text-align: center;">' +
			`		<h5 style="margin-top:10px;">${do_name} ${do_remover}</h5>` +
			'	</div>' +
			'	<div class="col-sm-3 form-group">' +
			' 	    <label>Start time</label><br>' +
			'   <div class="col-10">' +
			`		  <input type="datetime-local" name="delivery_window_start_${do_number}" class="window-start">` +
      '   </div>                              ' +
      ' 	    <label>End time</label><br>' +
			'   <div class="col-10">' +
			`		  <input type="datetime-local" name="delivery_window_end_${do_number}" class="window-end">` +
      '   </div>                              ' +
			' </div>' +
			'	<div class="col-sm-4">' +
			'		<div class="form-group dropdown-points">' +
						getVehicleSelector() +
			'     <label>Receiver</label>' +
			'     <div>' +
			`		  	<input type="text" name="deliver_to_${do_number}" class="form-control deliver_to">` +
			'			</div>' +
			'		</div>' +
			'	</div>' +
			'	<div class="col-sm-3">' +
			'		<div class="form-group dropdown-points">' +
			`		${getAddressSelector('Source', 'source')}`+
			`		${getAddressSelector('Destination', 'destination')}`+
			'		</div>' +
			'	</div>' +
			'	<div style="display: none;">' +
			`		<input type=number name="vehicle_${do_number}" class="vehicle">` +
			`		<input type=text step=any name="source_${do_number}" class="source_address">` +
			`		<input type=text step=any name="destination_${do_number}" class="destination_address">` +
			`		<input type=number step=any name="source_longitude_${do_number}" class="source_longitude">` +
			`		<input type=number step=any name="source_latitude_${do_number}" class="source_latitude">` +
			`		<input type=number step=any name="destination_longitude_${do_number}" class="destination_longitude">` +
			`		<input type=number step=any name="destination_latitude_${do_number}" class="destination_latitude">` +
			'	</div>' +
			'</div>';
			$('#do-container').append(html);
            do_number++;
		});

		$(document).on('click', ".do-remover", (e) => {	
			e.preventDefault();
			let target = $(event.target);
			$(target).parents('div .dispatch-order').remove();
		});

		$('#saveResults').click((e) => {
		    e.preventDefault();
		    let is_empty = true;
		    let errors = "";
		    let srcs =[];
            let dests = [];
            const br = '\n';
			$('.dispatch-order').each((index, value) => {
			    is_empty = false;

			    srcs.push($(value).find('select.source option:selected').text());
			    dests.push($(value).find('select.destination option:selected').text());

			    let vehicle = $(value).find('select.vehicle option:selected').val();

			    let src_id = $(value).find('select.source option:selected').val();
			    let dest_id = $(value).find('select.destination option:selected').val();

			    let source = addresses[src_id-1];
			    let destination = addresses[dest_id-1];

				let src = map.get_coord_by_id(src_id);
				let dest = map.get_coord_by_id(dest_id);

				let start_t = $(value).find(".window-start").val();
				let end_t = $(value).find(".window-end").val();

				if(start_t.length === 0)
                    errors += `Dispatch Order #${index}: The start of the delivery window field is required.${br}`;
				if(end_t.length === 0)
                    errors += `Dispatch Order #${index}: The end of the delivery window field is required.${br}`;

				start_t = new Date(start_t);
				end_t = new Date(end_t);

				$(value).find('.vehicle').val(vehicle);

				$(value).find('.source_address').val(source);
				$(value).find('.destination_address').val(destination);

				$(value).find('.source_longitude').val(src['lng']);
				$(value).find('.source_latitude').val(src['lat']);
				$(value).find('.destination_longitude').val(dest['lng']);
				$(value).find('.destination_latitude').val(dest['lat']);

				let rcvr = $(value).find('.deliver_to').val();

                if(rcvr.length === 0)
                    errors += `Dispatch Order #${index}: Receiver field is required.${br}`;
                if(-180.0 > src['lng'] || src['lng'] > 180.0)
                    errors += `Dispatch Order #${index}: Source longitude violates the range of valid values.${br}`;
                if(-90.0 > src['lat'] || src['lat'] > 90.0)
                    errors += `Dispatch Order #${index}: Source latitude violates the range of valid values.${br}`;
                if(-180.0 > dest['lng'] || dest['lng'] > 180.0)
                    errors += `Dispatch Order #${index}: Destination longitude violates the range of valid values.${br}`;
                if(-90.0 > dest['lat'] || dest['lat'] > 90.0)
                    errors += `Dispatch Order #${index}: Destination latitude violates the range of valid values.${br}`;
                if(src === dest)
                    errors += `Dispatch Order #${index}: Source can't be equal to Destination.${br}`;
                if(start_t >= end_t)
                    errors += `Dispatch Order #${index}: The end of the delivery window should be after the start.${br}`;
			});
			if(srcs.filter(src => src === "Source").length !== 1)
                errors += `There must be exactly one Source among all dispatch orders' sources.${br}`;
			if(dests.filter(dest => dest === "Destination").length !== 1)
                errors += `There must be exactly one Destination among all dispatch orders' destinations.${br}`;
			if(is_empty)
			    alert('At least one dispatch order must be filled.');
			else if(errors.length > 0)
			    alert(errors);
            else
                $('#post_form').trigger('click');
		});

		function getAddressSelector(title, customClass) {
			$('#hiddenSelector label').text(title);
			const classes = 'form-control pointSelector ' + customClass;
			$('#hiddenSelector select').removeClass().addClass(classes);
            return $('#hiddenSelector').html()
		}

		function getVehicleSelector() {
            return $('#hiddenVehicleSelector').html()
		}

		let addresses = [];
		addresses.push('Source');
		addresses.push('Destination');

        function add_address(address, id) {
            if(!addresses.includes(address)){
                addresses.push(address);
                let temp = addresses.length - 2;
                option = `<option value="${id}">${temp}: ${address}</option>`;
                $('.pointSelector').append(option)
            }
        }

        let $placesAutocompleteSource = places({
            container: document.querySelector('#id_resolution')
        });

        let $id_source = document.querySelector('#id_resolution');
        $placesAutocompleteSource.on('change', function(e) {
            let address = e.suggestion.value;
            map.geocode(address);
            $placesAutocompleteSource.setVal('');
        });
	});
</script>
{% endblock %}

{% block content %}
{% if order.status != 'validated' %}
	<h4>Order #{{order.id}} is not in <b>Validated</b> state, action is not allowed</h4>
{% else %}
	<div class="row">
		<div class="col-md-6">
			<div>
			<p> Weight: {{order.weight}}</p>
		    <p> Number Of Objects: {{order.number_of_objects}}</p>
		    <p> Creation Time: {{order.creation_time}}</p>
		    <p> Source Longitude: {{order.source_longitude}}</p>
		    <p> Source Latitude: {{order.source_latitude}}</p>
		    <p> Destination Longitude: {{order.destination_longitude}}</p>
		    <p> Destination Latitude: {{order.destination_latitude}}</p>
		    <p> Time To Deliver: {{order.delivery_window_start}}</p>
		    <p> Time Of Pickup: {{order.delivery_window_end}}</p>
			</div>
			<div id="dots"></div>
			<div style="display: none;" id="hiddenSelector">
				<label for="pointSelector">LABEL_WORD</label>
				<select class="form-control pointSelector">
					<option value="1">Source</option>
					<option value="2">Destination</option>
				</select>
			</div>
			<div style="display: none;" id="hiddenVehicleSelector">
				<label for="vehicleSelector">Vehicle</label>
				<select class="form-control vehicleSelector vehicle">
                    {% for v in vehicles %}
					    <option value={{ v.id }}>ID:{{ v.id }} {{ v.model_name }}({{ v.status }})</option>
                    {% endfor %}
				</select>
			</div>
		</div>
		<div class="col-md-6">
			<div style="width: 640px; height: 480px;" id="mapContainer"></div>
            <input type="search" name="resolution" class="form-control ap-input" id="id_resolution"
            placeholder="Write an address...">
		</div>
	</div>
	<h3>Dispatch orders <a href="#" class="badge badge-pill badge-success" id="do-adder">Add</a></h3>
    <form method="post" novalidate>
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div id="do-container"></div>
        {% for error in form.get_errors() %}
          <span style="color: red">
            {{ error }}
            <br>
          </span>
        {% endfor %}
        <button style="display: none;" id="post_form" type="submit" class="btn btn-success"></button>
    </form>
    <button type="submit" class="btn btn-success" id="saveResults">Save route</button>
{% endif %}
{% endblock %}
