{% extends 'base.html' %}

{% block pagename %}
Dispatch orders
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}
{% block customjs %}
<script type="text/javascript">
    $(document).ready(() => {
      $('[data-toggle="tooltip"]').tooltip()
      $('#dispatchOrderTable').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
      });
    });
</script>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ url('dispatch-orders') }}?page={{ start_page }}">First page</a></li>
      <li class="list-inline-item"><a href="{{ url('dispatch-orders') }}?page={{ current_page - 1 }}">Previous page</a></li>
      <li class="list-inline-item">Page #{{ current_page }}</li>
      <li class="list-inline-item"><a href="{{ url('dispatch-orders') }}?page={{ current_page + 1 }}">Next page</a></li>
      <li class="list-inline-item"><a href="{{ url('dispatch-orders') }}?page={{ end_page }}">Last page</a></li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>


<table id="dispatchOrderTable" class="table table-striped dataTable">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Order ID</th>
        <th scope="col">Vehicle ID</th>
        <th scope="col">Source</th>
        <th scope="col">Destination</th>
        <th scope="col">Creation time</th>
        <th scope="col">Time of deliver</th>
        <th scope="col">Time of pickup</th>
    </tr>
    </thead>
    <tbody>
    {% for item in dispatch_orders %}


    <tr>
        <td><a href="dispatch-order/{{item.id}}" data-toggle="tooltip" data-placement="top" title="{{item.id}}">Dispatch
            order</a></td>
        <td><a href="order/{{item.order_id}} " data-toggle="tooltip" data-placement="top" title="{{item.order_id}}">Related
            order</a></td>
        <td>{{item.vehicle_id}}</td>
        <td>{{item.source}}</td>
        <td>{{item.destination}}</td>
        <td>{{item.creation_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
        <td>{{item.delivery_window_start.strftime('%Y-%m-%d %H:%M:%S')}}</td>
        <td>{{item.delivery_window_end.strftime('%Y-%m-%d %H:%M:%S')}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

