{% extends 'map.html' %}

{% block customjs %}
<script>
  var dorder = {
    'src':{
        'lat': {{dispatch_order.source_latitude}},
        'lng': {{dispatch_order.source_longitude}} 
    }, 'dst': {
        'lat': {{dispatch_order.destination_latitude}}, 
        'lng': {{dispatch_order.destination_longitude}}
      }
    };

  $(document).ready(() => {
    let map = new Map([dorder['src'], dorder['dst']], dorder['src'])
    console.log(map.get_markers())
  });
</script>
{% endblock %}

{% block pagename %}
Dispatch Order #{{dispatch_order.id}}
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ url('dispatch-orders') }}">Dispatch orders</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td>Order Id</td>
                <td><a class="badge badge-primary" href="{{ url('order', args=[dispatch_order.order.id]) }}">{{dispatch_order.order.id}}</a></td>
            </tr>
            <tr>
                <td>Vehicle</td>
                <td>
                    {% if dispatch_order.vehicle %}
                        {{dispatch_order.vehicle.id}}
                    {% else %}
                        Unassigned
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Creation Time</td>
                <td>{{dispatch_order.creation_time}}</td>
            </tr>
            <tr>
                <td>Source</td>
                <td>{{dispatch_order.source}}</td>
            </tr>
            <tr>
                <td>Destination</td>
                <td>{{dispatch_order.destination}}</td>
            </tr>
            <tr>
                <td>Delivery starts at</td>
                <td>{{dispatch_order.delivery_window_start}}</td>
            </tr>
            <tr>
                <td>Delivery deadline</td>
                <td>{{dispatch_order.delivery_window_end}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td><span class="badge badge-primary">{{dispatch_order.status}}</span></td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div style="width: 640px; height: 480px;" id="mapContainer"></div>
    </div>
</div>
{% endblock %}
