{% extends 'base.html' %}

{% block pagename %}
Drivers
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}

{% block customjs %}
<script type="text/javascript">
    $(document).ready(() => {
      $('#driverTable').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
      });
    });
</script>
{% endblock %}


{% block content %}

<div style="min-height: 600 px;"></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ url('drivers-list') }}?page={{ start_page }}">First page</a></li>
      <li class="list-inline-item"><a href="{{ url('drivers-list') }}?page={{ current_page - 1 }}">Previous page</a></li>
      <li class="list-inline-item">Page #{{ current_page }}</li>
      <li class="list-inline-item"><a href="{{ url('drivers-list') }}?page={{ current_page + 1 }}">Next page</a></li>
      <li class="list-inline-item"><a href="{{ url('drivers-list') }}?page={{ end_page }}">Last page</a></li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>

<table id="driverTable" class="table table-striped dataTable">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Mail</th>
    </tr>
    </thead>
    <tbody id="Drivers">
    {% for item in drivers %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.first_name}}</td>
        <td>{{item.last_name}}</td>
        <td>{{item.email}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
