{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 18rem; height: 14rem;" src="{{ static('assets/images/vehicles.png') }}"
                 alt="Card image cap">
            <div class="card-body" style="height: 12rem;">
                <h5 class="card-title">Vehicles</h5>
                <p class="card-text">All vehicles of the company and their location on map.</p>
                <a href="{{ url('vehicle-list') }}" class="btn btn-primary" style="position : absolute; bottom:30px;">Go to Vehicles</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 18rem; height: 14rem;"
                 src="{{ static('assets/images/dispatch_orders.png') }}" alt="Card image cap">
            <div class="card-body" style="height: 12rem;">
                <h5 class="card-title">Dispatch orders</h5>
                <p class="card-text">All dispatch orders of the company and their status</p>
                <a href="{{ url('dispatch-orders') }}" class="btn btn-primary" style="position : absolute; bottom:30px;">Go to Dispatch orders</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 18rem; height: 14rem;" src="{{ static('assets/images/drivers.jpg') }}"
                 alt="Card image cap">
            <div class="card-body" style="height: 12rem;">
                <h5 class="card-title">Drivers</h5>
                <p class="card-text">List of all drivers.</p>
                <a href="{{ url('drivers-list') }}" class="btn btn-primary" style="position : absolute; bottom:30px;">Go to Drivers</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 18rem; height: 14rem;" src="{{ static('assets/images/orders.jpg') }}"
                 alt="Card image cap">
            <div class="card-body" style="height: 12rem;">
                <h5 class="card-title">Orders</h5>
                <p class="card-text">All orders of the company</p>
                <a href="{{ url('orders') }}" class="btn btn-primary" style="position : absolute; bottom:30px;">Go to Orders</a>
            </div>
        </div>
    </div>

    <div class="col-sm">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="width: 18rem; height: 14rem;" src="{{ static('assets/images/statistics.jpg') }}"
                 alt="Card image cap">
            <div class="card-body" style="height: 12rem;">
                <h5 class="card-title">Statistics</h5>
                <p class="card-text">Statistics of the company.</p>
                <a href="{{ url('statistics') }}" class="btn btn-primary" style="position : absolute; bottom:30px;">Go to Statistics</a>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem;">

        </div>
    </div>
</div>
{% endblock %}
