{% extends 'map.html' %}

{% block pagename %}
Order #{{order.id}}
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item"><a href="{{ url('orders') }}">Orders</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td>Weight</td>
                <td>{{order.weight}}</td>
            </tr>
            <tr>
                <td>Amount of objects</td>
                <td>{{order.number_of_objects}}</td>
            </tr>
            <tr>
                <td>Creation time</td>
                <td>{{order.creation_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            </tr>
<!--             <tr>
                <td>Source Longitude</td>
                <td>{{order.source_longitude}}</td>
            </tr>
            <tr>
                <td>Source Latitude</td>
                <td>{{order.source_latitude}}</td>
            </tr> -->
            <tr>
                <td>Source Address</td>
                <td>{{order.source}}</td>
            </tr>
<!--             <tr>
                <td>Destination Longitude</td>
                <td>{{order.destination_longitude}}</td>
            </tr> -->
            <!-- <tr> -->
                <!-- <td>Destination Latitude</td>
                <td>{{order.destination_latitude}}</td>
            </tr> -->
            <tr>
                <td>Destination Address</td>
                <td>{{order.destination}}</td>
            </tr>
            <tr>
                <td>Delivery starts at</td>
                <td>{{order.delivery_window_start.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            </tr>
            <tr>
                <td>Delivery deadline</td>
                <td>{{order.delivery_window_end.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td><span class="badge badge-primary">{{order.status}}</span></td>
            </tr>
        </table>

      {% if order.status == 'new' %}
        <form method="post" novalidate>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <button type="submit" class="btn btn-info">Validate</button>
        </form>
      {% elif order.status == 'validated' %}
          <a href="{{ url('order-create-dispatches', args=[order.id] ) }}" class="btn btn-success">Create route</a>
      </p>
      {% else %}
        <div class="accordion" id="accordionExample">
          {% for dispatch_order in dispatch_orders %}
            <div class="card z-depth-0 bordered">
              <div class="card-header" id="heading{{dispatch_order.id}}">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{dispatch_order.id}}" aria-expanded="true" aria-controls="collapse{{dispatch_order.id}}">
                    Dispatch Order #{{dispatch_order.id}}
                  </button>
                </h5>
              </div>
              <div id="collapse{{dispatch_order.id}}" class="collapse" aria-labelledby="heading{{dispatch_order.id}}" data-parent="#accordionExample">
                <div class="card-body"> <!-- TODO ME -->
                    <table class="table">
                        <tr>
                            <td>Dispatch order id</td>
                            <td><a href="{{ url('dispatch-order', args=[dispatch_order.id]) }}" class="badge badge-primary">{{dispatch_order.id}}</a></td>
                        </tr>
                        <tr>
                            <td>Vehicle</td>
                            {% if dispatch_order.vehicle != None %}
                            <td>{{dispatch_order.vehicle.id}}</td>
                            {% else %}
                            <td>Default Ferrari</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td>Creation Time</td>
                            <td>{{dispatch_order.creation_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        </tr>
                        <tr>
                            <td>Source Longitude</td>
                            <td>{{dispatch_order.source_longitude}}</td>
                        </tr>
                        <tr>
                            <td>Source Latitude</td>
                            <td>{{dispatch_order.source_latitude}}</td>
                        </tr>
                        <tr>
                            <td>Destination Longitude</td>
                            <td>{{dispatch_order.destination_longitude}}</td>
                        </tr>
                        <tr>
                            <td>Destination Latitude</td>
                            <td>{{dispatch_order.destination_latitude}}</td>
                        </tr>
                         <tr>
                            <td>Delivery starts at</td>
                            <td>{{dispatch_order.delivery_window_start.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        </tr>
                        <tr>
                            <td>Delivery deadline</td>
                            <td>{{dispatch_order.delivery_window_end.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td><span class="badge badge-primary">{{dispatch_order.status}}</span></td>
                        </tr>
                    </table>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  <div class="col-md-6">
    <div style="width: 640px; height: 480px;" id="mapContainer"></div>
  </div>
</div>
{% endblock %}


{% block customjs %}
<script>
    var points = [];
    var p_copy;
    {% if order.status != 'new' and order.status != 'validated' %}
        {% for dorder in dispatch_orders %}
          var point = {
            'src':{
                    'lat': {{dorder.source_latitude}},
                    'lng': {{dorder.source_longitude}} 
            }, 'dst': {
                    'lat': {{dorder.destination_latitude}}, 
                    'lng': {{dorder.destination_longitude}}
                }
          };
          points.push(point['src']);
          points.push(point['dst']);
        {% endfor %}
        p_copy = points.slice();
        p_copy = p_copy.unique();  // TODO: No order here
    {% else %}
        points.push({
            lng: {{order.source_longitude}},
            lat: {{order.source_latitude}}, 
        });
        points.push({
            lng: {{order.destination_longitude}},
            lat: {{order.destination_latitude}},
        });
        p_copy = points;
    {% endif %}
    
    $(document).ready(() => {
      let map = new Map(p_copy, undefined, "mapContainer", false)
    });
</script>
{% endblock %}
