{% extends 'base.html' %}

{% block pagename %}
Orders
{% endblock %}

{% block customjs %}
<script>
    $(document).ready(function() {
      $(document).on('click', "#validator", (e) => {
        let src = $(e.target);
        let order_id = parseInt($(src).data('id'));
        $('#id_order_id').val(order_id);
        $('#post_form').trigger('click');
      });

      function formatDate(x) {
        var date = new Date(x);

        var hours = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        if (hours < 10) {
            hours = "0" + hours;
        }
        if( minutes < 10) {
            minutes ="0"+minutes;
        }
        if ( seconds < 10 ){
            seconds = "0" + seconds;
        }
        var month = date.getMonth();
        if ( month < 10 ){
            month = "0" +  month;
        }

        var day = date.getDay();
        if ( day < 10 ){
            day = "0" + day;
        }


        var strTime = hours + ':' + minutes + ':' + seconds;
        return  date.getFullYear()+ "/" + month + "/" + day + "  " + strTime;
      }

      $(".card").click(function() {
        var body = $(this).find(".card-body")
        var id = $(this).attr('id')

        $.getJSON("/api/v1/orders/dispatch/", function(dispatch_orders) { // TODO: USE URL function
          $.getJSON("/api/v1/orders/" + id, function(order) { // TODO: USE URL function
            external_link = '';
            if (order['status'] === 'validated')
              external_link = `<a href="order/${order['id']}/create-dispatch" class="badge badge-cyan">Create route</a>`
            else if (order['status'] === 'new') {
              external_link = `<a href="#" id="validator" data-id="${order['id']}" class="badge badge-cyan">Validate</a>`
            }
            var html =
              `<table class="table">
                  <tr>
                    <td>Status</td>
                    <td>${order['status']} ${external_link}</td>
                  </tr>
                  <tr>
                    <td>Weight</td>
                    <td>${order['weight']}</td>
                  </tr>
                  <tr>
                    <td>Amount of objects:</td>
                    <td>${order['number_of_objects']}</td>
                  </tr>
                  <tr>
                    <td>Creation time</td>
                    <td>${formatDate(order['creation_time'])}</td>
                  </tr>
                  <tr>
                    <td>Source address</td>
                    <td>${order['source']}</td>
                  </tr>
                  <tr>
                    <td>Destination address</td>
                    <td>${order['destination']}</td>
                  </tr>
                  <tr>
                    <td>Delivery request start at</td>
                    <td>${formatDate(order['delivery_window_start'])}</td>
                  </tr>
                  <tr>
                    <td>Delivery deadline</td>
                    <td>${formatDate(order['delivery_window_end'])}</td>
                  </tr>
                </table>`;

              html += `<a href="order/${order['id']}"><h4>Link to order page</h4></a>`

              if(order['status'] != 'new' && order['status'] != 'validated') {
                var temp = dispatch_orders.filter(d => d.order == order['id'])
                if(temp.length > 0) {
                  temp.forEach(function(item, i, arr) {
                    html += `<br><a href="dispatch-order/${item['id']}">Dispatch Order #${item['id']}</a>`
                  });
                }
              }
            $(body).html(html)
          });
        });
      });
    });
  </script>

  <script>
  $(document).ready(function(){
    $("#searchInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#accordion .card .card-header h5 button").filter(function() {
        if (!($(this).html().toLowerCase().indexOf(value) > -1)) {
            $(this).closest(".card").css({'display': 'none'});
        } else {
            $(this).closest(".card").css({'display': 'block'});
        }
      });
    });
  });
  </script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ url('orders') }}?page={{ start_page }}">First page</a></li>
      <li class="list-inline-item"><a href="{{ url('orders') }}?page={{ current_page - 1 }}">Previous page</a></li>
      <li class="list-inline-item">Page #{{ current_page }}</li>
      <li class="list-inline-item"><a href="{{ url('orders') }}?page={{ current_page + 1 }}">Next page</a></li>
      <li class="list-inline-item"><a href="{{ url('orders') }}?page={{ end_page }}">Last page</a></li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>


<form style="display: none;" method="post" novalidate>
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  {% for field in form %}
  {{ field }}
  {% endfor %}
  <button type="submit" id="post_form" class="btn btn-info"></button>
</form>
<input class="form-control" id="searchInput" type="text" placeholder="Search..">
<br>
<div id="accordion">
  {% for order in orders %}
  <div class="card" id="{{ order.id }}">
      <div class="card-header">
          <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ order.id }}"
                      aria-expanded="true" aria-controls="collapseOne">
                  ID: {{ order.id }} - STATUS: {{ order.status.upper() }}
              </button>
          </h5>
      </div>
      <div id="collapse{{ order.id }}" class="collapse" aria-labelledby="heading{{ order.id }}"
           data-parent="#accordion">
          <div class="card-body"></div>
      </div>
  </div>
  {% endfor %}
</div>


{% endblock %}