{% extends 'base.html' %}

{% block pagename %}
Statistic
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Number of deliveries depend of paths length</h5>
                <div id="ABC-classes" style="height:400px"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Statuses of orders</h5>
                <div id="NVP-stat" style="height:400px"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Statuses of orders</h5>
                <div id="stats-days" style="height:400px"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customjs %}
<script src=" {{ static('assets/libs/flot/jquery.flot.axislabels.js') }}"></script>
<script src=" {{ static('assets/libs/flot/jshashtable.js') }}"></script>
<script src=" {{ static('assets/libs/flot/jquery.numberformatter.js') }}"></script>
<script src=" {{ static('assets/libs/flot/jquery.flot.symbol.js') }}"></script>
<script>
    var dataset1 = [
        { label: "Count of deliveries by kilometres", data: [[0, {{stats_kilometers.A}}], [1, {{stats_kilometers.B}}],
                [2, {{stats_kilometers.C}}]], color: "#5482FF" }
    ];
    options1 = {
        series: {
            bars: {
                show: true
            }
        },
        bars: {
            align: "center",
            barWidth: 1
        },
        xaxis: {
            axisLabel: "Groups",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            ticks: [[0, "A ( < 20km)"], [1, "B ( >20km, < 400km)"], [2, "C ( > 400km)"]],
            axisLabelPadding: 10
        },
        yaxis: {
            axisLabel: "Number of deliveries",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3
        },
        legend: {
            noColumns: 0,
            labelBoxBorderColor: "#000000",
            position: "nw"
        },
        grid: {
            hoverable: true,
            borderWidth: 2,
            backgroundColor: { colors: ["#ffffff", "#ffffff"] }
        }
    };

    $(document).ready(function () {
        $.plot($("#ABC-classes"), dataset1, options1);
        $("#ABC-classes").UseTooltip1();
    });

    var previousPoint = null, previousLabel = null;

    $.fn.UseTooltip1 = function () {
        $(this).bind("plothover", function (event, pos, item) {
            if (item) {
                if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;
                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];

                    var color = item.series.color;

                    //console.log(item.series.xaxis.ticks[x].label);

                    showTooltip1(item.pageX,
                    item.pageY,
                    color,
                    "<strong>" + item.series.label + "</strong><br>" + item.series.xaxis.ticks[x].label + " : <strong>" + y + "</strong>");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    };

    function showTooltip1(x, y, color, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y - 40,
            left: x - 120,
            border: '2px solid ' + color,
            padding: '3px',
            'font-size': '9px',
            'border-radius': '5px',
            'background-color': '#fff',
            'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }





    var data2_1 = [];
    {% for item in NVPstat.new %}
        data2_1.push([gd2( {{item.date.year}}, {{item.date.month}}), {{item.count}}])
    {% endfor %}
    var data2_2 = [];
    {% for item in NVPstat.validated %}
        data2_2.push([gd2( {{item.date.year}}, {{item.date.month}}), {{item.count}}])
    {% endfor %}

    var data2_3 = [];
    {% for item in NVPstat.planned %}
        data2_3.push([gd2( {{item.date.year}}, {{item.date.month}}), {{item.count}}])
    {% endfor %}

    var dataset2 = [{
        label: "new",
        data: data2_1,
        color: "#0077FF"
    }, {
        label: "validated",
        data: data2_2,
        color: "#7D0096"
    }, {
        label: "planned",
        data: data2_3,
        color: "#DE000F"
    }];

    var options2 = {
        series: {
            stack: true,
            bars: {
                show: true
            }
        },
        bars: {
            align: "center",
            barWidth: 30 * 24 * 60 * 60 * 500,
            lineWidth: 1
        },
        xaxis: {
            mode: "time",
            tickLength: 10,
            color: "black",
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        yaxis: {
            color: "black",
            axisLabel: "Number of orders",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3,
            tickFormatter: function(v, axis) {
                return $.formatNumber(v, {
                    format: "#,###",
                    locale: "us"
                });
            }
        },
        grid: {
            hoverable: true,
            borderWidth: 2,
            backgroundColor: {
                colors: ["#EDF5FF", "#ffffff"]
            }
        },
        colors: ["#004078", "#207800", "#613C00"]
    };

    $(document).ready(function() {
        $.plot($("#NVP-stat"), dataset2, options2);

        $("#NVP-stat").UseTooltip2();
    });

    function gd2(year, month) {
        return new Date(year, month - 1).getTime();
    }

    var previousPoint = null,
        previousLabel = null;
    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    $.fn.UseTooltip2 = function() {
        $(this).bind("plothover", function(event, pos, item) {
            if (item) {
                if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;
                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];

                    var color = item.series.color;
                    var day = "Jan " + new Date(y).getDate();
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    };



    function gd3(year, month, day) {
        return new Date(year, month - 1, day).getTime();
    }

    var data_days = [];
    {% for key, value in statsdays.items()|sort(attribute='0') %}
        data_days.push([gd3( {{key.split('/')[0]}}, {{key.split('/')[1]}}, {{key.split('/')[2]}}), {{value}}])
    {% endfor %}
    data_days.sort()


    var dataset3 = [{
        label: "orders",
        data: data_days,
        color: "#0077FF"
    }];

    var options3 = {
        series: {
            lines: {
                show: true
            }
        },
        xaxis: {
            mode: "time",
            tickLength: 10,
            color: "black",
            axisLabel: "Date",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 10
        },
        yaxis: {
            color: "black",
            axisLabel: "Number of orders",
            axisLabelUseCanvas: true,
            axisLabelFontSizePixels: 12,
            axisLabelFontFamily: 'Verdana, Arial',
            axisLabelPadding: 3
        },
        grid: {
            hoverable: true,
            borderWidth: 2,
            backgroundColor: {
                colors: ["#EDF5FF", "#ffffff"]
            }
        },
        colors: ["#004078", "#207800", "#613C00"]
    };

    $(document).ready(function() {
        $.plot($("#stats-days"), dataset3, options3);
        $("#stats-days").UseTooltip3();
    });

    var previousPoint = null,
        previousLabel = null;
    var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];

    $.fn.UseTooltip3 = function() {
        $(this).bind("plothover", function(event, pos, item) {
            if (item) {
                if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;
                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];

                    var color = item.series.color;
                    var day = "Jan " + new Date(y).getDate();
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    };




</script>
{% endblock %}
