{% extends 'map.html' %}

{% block pagename %}
Vehicles
{% endblock %}

{% block breadcrumbsitems %}
<li class="breadcrumb-item"><a href="{{ url('homes') }}">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">{{self.pagename()}}</li>
{% endblock %}

{% block customjs %}
<script >
    const inno = {
            lat: 55.749931,
            lng: 48.742371
        };
    $(document).ready(() => {
      $('#vehicleTable').DataTable({
        "bPaginate": false,
        "bLengthChange": false,
      });
      let map = new VehicleMap([], inno, "mapContainer", false);


      points_src = []
      points_dst = []
      {% for dorder in dispatch_orders %}
      var point = {
        'src':{
                'lat': {{dorder.source_latitude}},
                'lng': {{dorder.source_longitude}}
        }, 'dst': {
                'lat': {{dorder.destination_latitude}},
                'lng': {{dorder.destination_longitude}}
            }
      };
      points_src.push(point['src']);
      points_dst.push(point['dst']);

    //  console.log("dis_order");
    {% endfor %}
    velocitys = []

    for (var i = 0; i < points_src.length; i++){
        map.create_marker(points_src[i],1)
        len = ( points_src[i].lat - points_dst[i].lat) * ( points_src[i].lat - points_dst[i].lat) +
            ( points_src[i].lng - points_dst[i].lng) * ( points_src[i].lng - points_dst[i].lng)

        var vel = {
                'lat': (points_dst[i].lat - points_src[i].lat) / len,
                'lng': (points_dst[i].lng - points_src[i].lng) / len
        };

        velocitys.push(vel);
    }


    function refreshData(seconds) {

        // Do your thing here
        let markers = map.get_markers();
        for (var i = 0; i < markers.length; i++){
            var pos = markers[i].getPosition();
            pos.lat = pos.lat + velocitys[i].lat * 0.0001 / seconds;
            pos.lng = pos.lng + velocitys[i].lng * 0.0001 / seconds;
            markers[i].setPosition(pos);
        }

        setTimeout(() => refreshData(2), seconds * 1000);
    }


     refreshData(2); // execute function
});

</script>

{% endblock %}

{% block content %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div style="width: 740px; height: 580px; padding: 0px 0px 100px 0px;" id="mapContainer"></div>

<div style="min-height: 600 px;"></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="{{ url('vehicle-list') }}?page={{ start_page }}">First page</a></li>
      <li class="list-inline-item"><a href="{{ url('vehicle-list') }}?page={{ current_page - 1 }}">Previous page</a></li>
      <li class="list-inline-item">Page #{{ current_page }}</li>
      <li class="list-inline-item"><a href="{{ url('vehicle-list') }}?page={{ current_page + 1 }}">Next page</a></li>
      <li class="list-inline-item"><a href="{{ url('vehicle-list') }}?page={{ end_page }}">Last page</a></li>
    </ul>
  </div>
  <div class="col-sm-3"></div>
</div>

<table id="vehicleTable" class="table table-striped dataTable">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Model</th>
        <th scope="col">Status</th>
        <th scope="col">Carrying capacity</th>
        <th scope="col">Volumetric capacity</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Fuel consumption</th>
        <th scope="col">Mileage</th>
        <th scope="col">Purchased</th>
    </tr>
    </thead>
    <tbody>
    {% for item in vehicles %}
    <tr>
	    <td>{{item.id}}</td>
        <td>{{item.model_name}}</td>
        <td>{{item.status}}</td>
        <td>{{'%0.2f'|format(item.carrying_capacity|float)}}</td>
        <td>{{'%0.2f'|format(item.volumetric_capacity|float)}}</td>
        <td>{{'%0.2f'|format(item.latitude|float)}}</td>
        <td>{{'%0.2f'|format(item.longitude|float)}}</td>
        <td>{{'%0.2f'|format(item.fuel_consumption|float)}}</td>
        <td>{{'%0.2f'|format(item.mileage|float)}}</td>
        <td>{{item.purchased.strftime('%Y-%m-%d')}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
