.date-control {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  padding-right: 30px;
  border-color: #e1e1e1;
  color: #777777;
  margin: 5px;
  padding-left: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.form-group.registration-form input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  padding-right: 30px;
  border-color: #e1e1e1;
  color: #777777;
  margin: 5px;
  padding-left: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}


.dropdown h6 {
  margin-top: 15px;
}

.dark.header-top .dropdown-menu {
  background: #d9d9d9;
}
