{% extends 'customer.html' %}

{% block title %}
Login page
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Login</h5>
        <form method="post">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          <div class="form-group registration-form">
            {{ form.username }}
          </div>
          <div class="form-group registration-form">
            {{ form.password }}
          </div>
          <button class="btn btn-success" type="submit">Confirm</button>
        </form>
      </div>
    </div>
  </div>

<!--<div class="card" style="width: 18rem;">-->
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title">Card title</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--</div>-->
<!--</div>-->

{% endblock %}

{% block customjs %}
<script>
  $(document).ready(() => {
     $('#id_username').attr('placeholder', 'Username');
     $('#id_password').attr('placeholder', 'Password');
  });
</script>
{% endblock %}
