{% extends 'customer.html' %}

{% block pagename %}
Register
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-4"></div>
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Register</h5>
        <form method="post">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
          {% for field in form %}
            <div class="form-group registration-form">
              {{ field }}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <button type="submit">Sign up</button>
        </form>
        <!--<form method="post">-->

          <!--<div class="form-group">-->
            <!--{{ form.username }}-->
          <!--</div>-->
            <!--<div class="form-group">-->
            <!--{{ form.mail }}-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--{{ form.password }}-->
          <!--</div>-->
          <!--<button class="btn btn-success" type="submit">Confirm</button>-->
        <!--</form>-->
      </div>
    </div>
  </div>

<!--<div class="card" style="width: 18rem;">-->
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <!--<div class="card-body">-->
    <!--<h5 class="card-title">Card title</h5>-->
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    <!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
  <!--</div>-->
<!--</div>-->

{% endblock %}

{% block customjs %}
<script>
  $(document).ready(() => {
     $('#id_username').attr('placeholder', 'Username');
     $('#id_password1').attr('placeholder', 'Password');
     $('#id_password2').attr('placeholder', 'Password Confirmation');
     $('#id_email').attr('placeholder', 'Email');
  });
</script>
{% endblock %}
