.date-control {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  padding-right: 30px;
  border-color: #e1e1e1;
  color: #777777;
  margin: 5px;
  padding-left: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

#pull-chain {
	display: block;
    /*position: marker;*/
    width: 100px;
}

.chain {
  border-left: 2px dotted #333;
  width: 75px;
  /*height: 1px;*/
}

.dot {
  background-color: #333;
	width:15px;
	height:15px;
	border-radius: 50%;
	position: relative;
	left: -6px;
}

#id_password {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  padding-right: 30px;
  border-color: #e1e1e1;
  color: #777777;
  margin: 5px;
  padding-left: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

#id_username {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  height: 40px;
  font-weight: 300;
  font-size: 14px;
  padding-right: 30px;
  border-color: #e1e1e1;
  color: #777777;
  margin: 5px;
  padding-left: 5px;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
}

.dark.header-top .dropdown-menu {
  background: #f2f2f2;
}

.btn-group h6 {
  margin-top: 15px;
}